{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><button class="btn btn-primary">Voir</button> </a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-danger">Editer</button> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun Utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}"><button class="btn btn-success">Ajouter un Utilisateur</button> </a>
    </div>
{% endblock %}
